<!DOCTYPE html>
<html>
<body>

<form action="action_page.php">
  <select name="type">
    <option value="tiny">Tiny</option>
    <option value="micro">Micro</option>
    <option value="medium">Medium</option>
    <option value="Large">Large</option>
  </select>
  <br><br>
  <input type="submit">
</form>

</body>
</html>
